body {
    background-color: #499d86;
    font-family:'roboto';
}

.root {
    width: 600px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);
}

.checkout {
    padding:40px 70px 0px 70px;
}

.checkout-header {
    display:flex;
}


.checkout-header-text {
    font-size: 20px;
    font-weight: 700;
    display: inline;
    margin-top: 5px;
}

.circle {
    height:40px;
    width:40px;
    border-radius:50%;
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-left: auto;
}
.circle:hover {
    box-shadow: 0 0 3pt 2pt #e3e3e3;
}

.circle-img {
    margin:auto;
}

.checkout-desc{
    color: #a8a8ab;
    font-size: 14px;
    padding-top: 8px;
}

.product-list {
    padding-top:40px;
}

.product {
    padding-bottom: 30px;
}

.product-name {
    color:#6f7375;
    font-size: 16px;
}

.product-price {
    float: right;
    font-size: 20px;
    font-weight: 500;
}

.total-text {
    font-size: 20px;
    font-weight: 400;
    color:#6f7375;
}

.cycle {
    position: relative;
    display:inline-block;

}

.cycle-image {
    width:550px;
    margin-left:-40px;
    margin-top:-80px;
    margin-bottom: -5px;
}
