body {
    background-image: url('./img/background.jpg');
    background-size:100%;
    font-family: 'roboto';
}

.root {
    width:400px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 4px;
}

.card {
    padding:0px 40px 40px 40px;

}

.card-upper {
    padding-top:60px;
    padding-bottom: 65px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;
}

.destination {
    display: flex;
    flex-direction: column;
}

.destination-upper {
    color:#4e8ac9;
    font-size: 50px;
    font-family: 'prompt';
}

.destination-lower {
    color:#b5adaa;
    font-weight: 500;
    font-size: 14px;
}

.destination-lower-right {
    color:#b5adaa;
    font-weight: 500;
    font-size: 14px;
     margin-left:auto;
}

.separator {
    background-color: #d6e6f2;
    width:30px;
    height: 6px;
    margin:0px auto;
    margin-top:-20px;
}

.card-middle {
    display:flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.title-value {
    display:flex;
    flex-direction: column;
    flex:1;
}

.title {
    color:#aaaaaa;
    font-size: 12px;

}

.value {
    font-weight: 500;
}

.card-lower {
    display:flex;
    flex-direction: row;
}

.placeholder {
    flex-grow:1;
}
.card-lower-left {
    display:flex;
    flex-direction: column;
    flex:1;
}

.card-lower-right {
    width: 150px;
    flex:1;
}